/* Fonts */
body {
    font-family: 'Roboto', sans-serif;
    color: #333333; /* Dark gray for general text */
    background-color: #F6F6F6; /* Light cream background */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

/* Colors */
header {
    background-color: #005D6E; /* Rich blue teal */
    color: white;
    display: flex;
    justify-content: space-between; /* This separates the title from the nav */
    align-items: center; /* Vertically centers items in the header */
    padding: 10px 5%; /* Some padding to the header for better visual spacing */
}

nav a {
    color: #FFC857; /* Complementary gold for contrast */
    text-decoration: none; /* Remove underlines from links */
    transition: color 0.3s; /* Smooth color transition on hover */
}

nav a:hover {
    color: #F6F6F6; /* Light cream on hover */
}

nav a.active {
    /*text-transform: uppercase; /* Converts the text to uppercase */
    color: #f5f3ef; /* Change the color if you want to give more emphasis to the active item */
}

nav {
    text-align: center;
}

nav ul {
    padding: 0;
    list-style-type: none; /* Remove bullet points */
    display: flex;         /* Use flexbox for horizontal alignment */
    /*justify-content: center; /* Center the list items horizontally */

    
}

nav li {
    margin: 0 15px; /* Space between list items */
}

nav a {
    text-decoration: none; /* Remove underlines from links */
    transition: color 0.3s; /* Smooth color transition on hover */
}




section {
    background-color: #F6F6F6; /* Light cream for sections */
    color: #333333; /* Dark gray text */
}

form input,
form textarea,
form button {
    border: 1px solid #005D6E; /* Border with rich blue teal */
}

form button {
    background-color: #005D6E; /* Button with rich blue teal */
    color: #F6F6F6; /* Light cream text */
}

form button:hover {
    background-color: #003D4C; /* Darker shade of blue teal on hover */
}

footer {
    background-color: #333333; /* Dark gray footer */
    color: white;
}
