* {
    box-sizing: border-box;
}


html {
    overflow-y: scroll; /* This forces the vertical scrollbar to always be present */
}

/* Fonts */
body {
    font-family: 'Roboto', sans-serif;
    color: #333333; /* Dark gray for general text */
    background-color: #F6F6F6; /* Light cream background */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}
h1 {
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: 'Playfair Display';
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
}


/* Colors */
header {
    background-color: #005D6E; /* Rich blue teal */
    color: white;
    display: flex;
    justify-content: space-between; /* This separates the title from the nav */
    align-items: center; /* Vertically centers items in the header */
    padding: 10px 5%; /* Some padding to the header for better visual spacing */
}

nav a {
    color: #FFC857; /* Complementary gold for contrast */
    text-decoration: none; /* Remove underlines from links */
    transition: color 0.3s; /* Smooth color transition on hover */
}

nav a:hover {
    color: #F6F6F6; /* Light cream on hover */
}

nav a.active {
    /*text-transform: uppercase; /* Converts the text to uppercase */
    color: #f5f3ef; /* Change the color if you want to give more emphasis to the active item */
}

nav {
    text-align: center;
}

nav ul {
    padding: 0;
    list-style-type: none; /* Remove bullet points */
    display: flex;         /* Use flexbox for horizontal alignment */
    /*justify-content: center; /* Center the list items horizontally */

    
}

nav li {
    margin: 0 15px; /* Space between list items */
}

nav a {
    text-decoration: none; /* Remove underlines from links */
    transition: color 0.3s; /* Smooth color transition on hover */
}




section {
    background-color: #F6F6F6; /* Light cream for sections */
    color: #333333; /* Dark gray text */
}

/* Form styling */

/* ... (previous styles) ... */

form {
    max-width: 400px;
    margin: 0 auto; /* center the form */
}

form label,
form input,
form textarea,
form button {
    display: block; /* stack elements vertically */
    width: 100%; 
    margin-bottom: 1rem; /* space between elements */
}

form input,
form textarea {
    padding: 0.5rem;
    border: 1px solid #005D6E; /* Border with rich blue teal */
    border-radius: 5px; /* rounded corners */
    background-color: #F6F6F6; /* Light cream for input backgrounds */
}

form button {
    padding: 0.5rem 1rem; /* Add some horizontal padding to the button */
    background-color: #005D6E; /* Button with rich blue teal */
    color: #F6F6F6; /* Light cream text */
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #003D4C; /* Darker shade of blue teal on hover */
}

/* ... Footer styling ... */


footer {
    background-color: #333333; /* Dark gray footer */
    color: white;
}
